header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  margin: .5em;
}

header nav {
  margin-right: 1em;
}

header a {
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: .5em 1em;
  border-radius: 2em;
  margin: .5em;
  transition: font-size .25s;
  transition-timing-function: ease-in-out;
}

header a.active {
  background-color: red;
  font-size: 1.25em;
}

header a:hover {
  font-size: 1.25em;
}
